{% extends "layouts/seller.njk" %}

{% block title %}{{ "Special Circumstances" | t }}{% endblock %}

{% block content %}
  <div class="max-w-3xl mx-auto">
    {% set pageTitle = "Special Circumstances" %}
    {% include "partials/shared/page-header.njk" %}

    {% include "partials/seller/case-flags-content.njk" %}
  </div>
{% endblock %}
