{% extends "layouts/seller.njk" %}

{% block content %}
<div class="max-w-3xl mx-auto">
  {% set pageTitle = "Your Property Details" %}
  {% include "partials/shared/page-header.njk" %}

  <div id="property-form-container">
    {% include "partials/seller/property-form.njk" %}
  </div>
</div>
{% endblock %}
