{% extends "layouts/seller.njk" %}

{% block title %}{{ "Settings" | t }}{% endblock %}

{% block content %}
  <div class="max-w-2xl mx-auto">
    {% set pageTitle = "Settings" %}
    {% include "partials/shared/page-header.njk" %}
    {% include "partials/seller/settings-notifications.njk" %}
    {% include "partials/seller/settings-consent.njk" %}
  </div>
{% endblock %}
