{# pages/agent/offers.njk #}
{% extends "layouts/agent.njk" %}
{% block content %}
{% set pageTitle = "Offers" %}
{% include "partials/shared/page-header.njk" %}
{% include "partials/agent/offer-chain.njk" %}
{% endblock %}
