{% extends "layouts/admin.njk" %}

{% block content %}
{% set pageTitle = "Leads" %}
{% include "partials/shared/page-header.njk" %}
<div id="action-result" class="mb-4"></div>
<div id="modal-container"></div>
<div id="lead-list">
  {% include "partials/admin/lead-list.njk" %}
</div>
{% endblock %}
