{% extends "layouts/admin.njk" %}

{% block content %}
{% set pageTitle = "Review Queue" %}
{% include "partials/shared/page-header.njk" %}
<div id="review-list">
  {% include "partials/admin/review-list.njk" %}
</div>
{% endblock %}
