{% extends "layouts/base.njk" %}

{% block body %}
  {% include "partials/public/header.njk" %}
  <main class="max-w-7xl mx-auto px-4 py-8">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/public/footer.njk" %}
{% endblock %}
